<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5081472319-g432a1frltkbt1iula7c6dsgfn9p4iai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5081472319-g432a1frltkbt1iula7c6dsgfn9p4iai</string>
	<key>API_KEY</key>
	<string>AIzaSyBBQfpnMz43GQJ9jTjyIExBQldCeUnlpaM</string>
	<key>GCM_SENDER_ID</key>
	<string>5081472319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.housrApp</string>
	<key>PROJECT_ID</key>
	<string>housr-66a18</string>
	<key>STORAGE_BUCKET</key>
	<string>housr-66a18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5081472319:ios:ea5012a5aba2bcd899878a</string>
</dict>
</plist>